<div class="whole">
  <% @devs.each do |dev| %>
    <div class="thumbnail">
      <%= image_tag (dev.picture), :class => "profile-pic responsive-image" %>
      <h4><%= link_to dev.first_name, dev_path(dev) %></h4>
    </div>
  <% end %>
</div>

