<div class="whole">
  <% @devs.each do |dev| %>
    <div class="thumbnail">
      <%= image_tag (dev.picture), :class => "profile-pic responsive-image" %>
    <div class="text">
<!-- <div class="row"> -->


    <h4><%= dev.first_name%> <%=dev.last_name%></h4>


    <%= link_to "click to view user", dev_path(dev) %>

<!-- </div> -->
<!-- </div> -->
</div>
  </div>



<% end %>
</div>

