<main>
  <h4><%= current_dev.first_name %>'s Matches </h4>
  <% @devs.each do |dev| %>
    <% if current_dev.matches(dev) %>
      <article>
        <div class="thumbnail">
          <%= image_tag(dev.picture, thumb: {height: 200, width: 200}) %>
            <div class="caption">
              <h4><%= link_to dev.first_name, dev_path(dev) %></h4>
            </div>
          </div>
      </article>
    <% end %>
  <% end %>
</main>
