/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.nav {
  width: 100%;
  background-color: white;
}

.login {
  text-align: center;
  display: block;
  margin: 0 auto;
  display: fixed;
}

.welcome {
  position: fixed;
  left: 15px;
  top: 50px;
  margin-right: 20px 20px;
  clear: right;
  z-index: -999px;
  color: black;
  font-size: 20px;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  width: 25%;
  display: inline-block;
}

body {
  text-align: center;
  background-image: url('');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 110%;
  padding: 70px;
}

.wrapper {
  width: 50%;
  text-align: center;

}

#logout {
  text-align: left;
}

.welcome {
  text-align: right;
  justify-content: right;
  display: flex;
}

#bigcontainer {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

button {
  background-color: white;
}

.header-login {
  align: right;
  font-size: 15px;
  font-weight: 400;
}

.field {
  text-align: center;
  display: block;
  justify-content: left;
  position: relative;
  justify-content: center;
}

.actions {
  padding-top: 20px;
}




