/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  text-align: center;
  // background: linear-gradient(to right, rgba(247,202,201,0.48) 0%,rgba(146,168,209,0.48) 78%,rgba(146,168,209,0.48) 100%);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 70px;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.navbar .nav > li > a {
  font: #F9F9FF;
  color: #F9F9FF;
}

.navbar {
  background-color: #92A8D1;
  color: #F9F9FF;
}

.login {
  text-align: center;
  display: block;
  margin: 0 auto;
  display: fixed;
}

h1 {
  font-size: 450%;
  font-weight: bold;
  color: #92A8D1;
}

h3 {
  text-align: center;
  font: #0C090A;
}

h4 {
  font-weight: bold;
  text-align: center;
  font: #0C090A;
}

#welcome {
  margin: 15px;
  word-spacing: 8px;
  font-size: 17px;
  font: #F9F9FF;
  color: #f3f6fc;
  font-weight: 100;
}

.whole {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.thumbnail-index {
  position: center;
  width: 220px;
  padding: 5px;
  position: relative;
  height: 250px;
  margin: 25px;
  background-color: #dbe5f6;
  box-shadow: 4px 4px 4px #888888;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.padded-row {
  padding-left: 15px;
  padding-right: 15px;
}

.row .thumbnail {
  padding: 5px;
  background-color: #dbe5f6;
  box-shadow: 4px 4px 4px #888888;
  overflow: hidden;
  justify-content: center;
  border-radius: 5px;
}

.author {
  font-size: 17px;
  font-weight: bold;
}

.thumbnail > img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 3px;
}

// .thumbnail {
//   width: 220px;
//   justify-content: center;
//   margin: 0 auto;
// }

.gen-info-panel,
.dev-info-panel {
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  float: center;
  height: 25%;
  background-color: #dbe5f6;
  box-shadow: 3px 3px 3px #888888;
  text-align: left;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .gen-info-panel,
  .dev-info-panel {
    margin-top: 40px;
  }
}

.pics {
  justify-content: center;
}

.pics > img {
  height: 300px;
  max-width: 0 auto;
  margin: 25px;
  justify-content: center;
}

.wrapper {
  width: auto;
  text-align: center;
  display: block;
}

#logout {
  text-align: left;
}

#bigcontainer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  width: 50%;
}

ul {
  list-style-type: none;
  display: inline;
}

button {
  background-color: white;
}

#commentsindex2 {
  display: block;
  border-radius: 5px;
  float: center;
  background-color: #f3f6fc;
  box-shadow: 3px 3px 3px #888888;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.container {
  display: inline;
}

.field {
  text-align: center;
  display: block;
}

.actions {
  padding-top: 20px;
}

.control-label {
  display: none;
}

#logout-form {
  margin: 0 auto;
  box-shadow: 4px 4px 4px #888888;
  padding: 20px;
  width: 250px;
  border-radius: 5px;
  background-color: #92A8D1;
  font-color: #F9F9FF;
  display: block;
}

#logout-form > .field {
  font: #F9F9FF;
}

#comment > .col-sm-6{
  margin-top: 40px;
}

#comment > .col-sm-1 {
  margin-top: 40px;
}

#btns {
  margin-top: 20px;
}
